<footer class="footer">
    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <!--
        -->
        <div class="logo-element_footer">
          <img src="./image/autospot-footer.jpg" alt="logo" />
        </div>
        <h3 class="main-c">Web de AutoSpot</h3>
        <!--
          <p>FOOTER  AUTOSPOT </p>  
        -->
      </div>
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>

          <li>Av. Libertador 5500</li>

          <li>San Isidro</li>
          <li>Mvl: (+54) 11 1234 5678</li>
          <li>Tel: (+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
        <h5>Más Información</h5>
        <ul>
          <li><a href="./index.html">Inicio</a></li>
          <li><a href="./preguntas.html">Preguntas</a></li>
          <li><a href="./email@autospot.com.ar">Enviar email</a></li>
          <li><a href="./consultas.html">Consultas</a></li>
          <li><a href="contacto.html">Contactar</a></li>
        </ul>
      </div>
      <div class="rrss-element-footer element-footer">
        <h5>Redes Sociales</h5>
        <ul>
          <li>
            <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img
                src="./image/facebook.JPG" alt="icono redes sociales"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img
                src="./image/instagram.JPG" alt="icono redes sociales"></a>
          </li>
          <li>
            <a href="https://www.google.com.ar/chrome/" target="_blank" rel="nofollow noopener noreferer"><img
                src="./image/google.JPG" alt="icono redes sociales"></a>
          </li>
          <li>
            <a href="https://web.whatsapp.com/" target="_blank" rel="nofollow noopener noreferer"><img
                src="./image/whastapp.JPG" alt="icono redes sociales"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-creds">
      <div class="copy-creds">
        <p>©2023 · Todos los derechos reservados CFP18.</p>
      </div>
      <div class="legal-creds">
        <ul>
          <li><a href="/politica-privacidad">Política de Privacidad</a></li>
          <li><a href="/politica-cookies">Política de Cookies</a></li>
          <li><a href="/aviso-legal">Aviso Legal</a></li>
        </ul>
      </div>
    </div>
  </footer>