<header>
    <div class="container">
      <div class="logo">
        <img src="/image/logo.png" alt="logo" />
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Autos</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>

          <li class="categoria">
            Categorias
            <ul>
              <li><a href="#">Auto1</a></li>
              <li><a href="">Auto2</a></li>
              <li><a href="">Auto3</a></li>
            </ul>
            </a>
          </li>
        </ul>
      </nav>
      <div class="compra-venta">
        <input type="search" placeholder="Busca Tu Auto" />
        <i class="fas fa-search"></i>
        <ul>
          <li><a href="#">Comprar</a></li>
          <li><a href="#">Vender</a></li>
          <li class="iniciarSesion"><a href="#">Iniciar Sesión</a></li>
        </ul>
      </div>
    </div>
  </header>