<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Document</title>
    <head>
      <style>
      table, th, td {
        border: 5px solid;
        color: rgb(13, 14, 14);
        background-color: aquamarine;
      }
      table {
             width: 100%;
             align-items:left;
              }
      body{
    background-color:rgb(132, 170, 155);
      }
      </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/image/autospot.jfif" alt="logo" />
         
      </div>
      
          
     
    </header>
    
    
      </head>
      <body>
        
        <h2>CONTACTOS</h2>
      <h2>Datos de contactos</h2>
      
      <table>
        <tr>
          <th>SECTOR</th>
          <th>NOMBRE Y APELLIDO</th>
          <th>TELEFONO</th>
          <th>EMAIL</th>
        </tr>
        <tr>
          <td>Footer</td>
          <td>Sasha</td>
          <td>Griffin</td>
          <td>Griffin</td>
        </tr>
        <tr>
          <td>Footer</td>
          <td>Gerardo</td>
          <td>Griffin</td>
          <td>Griffin</td>
        </tr>
        <tr>
          <td>Footer</td>
          <td>Ariel Campos Tula</td>
          <td>11-6999-0704 </td>
          <td>campostula@gmail.com </td>
        </tr>
      </table>
      
      </body>
  
    
  </body>
  
  <footer class="footer">
    

    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <div>
          <img src="./image/autospot.jfif" alt="logo" />
        </div> 
      <h3 class="main-c">Web de AutoSpot</h3>
      <p>FOOTER  AUTOSPOT </p>
      </div>
      
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>
          
          <li>Av. Libertador 5500</li>
          
          <li>San Isidro</li>
          <li>Mvl: (+54) 11 1234 5678</li>
          <li>Tel: (+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
    <h5>Más Información</h5>
    <ul>
    <li><a href="/index.html">Inicio</a></li>
    <li><a href="/preguntas.html">Preguntas</a></li>
    <li><a href="/email@autospot.com.ar">Enviar email</a></li>
    <li><a href="/consultas.html">Consultas</a></li>
    <li><a href="/contacto">Contactar</a></li>
    </ul>
    </div>
    <div class="rrss-element-footer element-footer">
    <h5>Redes Sociales</h5>
    <ul>
    <li>
    <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/facebook.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/instagram.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.google.com.ar/chrome/"target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/google.JPG"alt="icono redes sociales"></a>
    </li>
    <li>
      <a href="https://web.whatsapp.com/"target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/whastapp.JPG"alt="icono redes sociales"></a>
      </li>
    </ul>
    </div>
    </div>
    <div class="footer-creds">
    <div class="copy-creds">
    <p>©2023 · Todos los derechos reservados CFP18.</p>
    </div>
    <div class="legal-creds">
    <ul>
    <li><a href="/politica-privacidad">Política de Privacidad</a></li>
    <li><a href="/politica-cookies">Política de Cookies</a></li>
    <li><a href="/aviso-legal">Aviso Legal</a></li>
    </ul>
    </div>
    </div>
    
  </footer>
</html>