<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="../public/css/style.css">

    <title>header</title>
</head>
<body>
    <header>
      <div class="barraSuperior">
        <div class="logo">
          <!-- <img src="/image/autospot.jfif" alt="logo" /> -->
          <img src="../public/image/logo.png" alt="logo" />
           
        </div>
        <div class="compra-venta">
          <input type="search" placeholder="Busca Tu Auto">
            <ul>
                <a class="btn" href="#"><li>Iniciar Sesion</li></a>
          <a class="btn" href="#"><li>Comprar</li></a>
          <a class="btn" href="#"><li>Vender</li></a>
            </ul>
        </div>
      </div>
        <nav class="navbar">
          <ul>
            <a href="#"><li>Autos</li></a>
            
            <a href="#"><li>Nosotros</li></a>
            <a href="#"><li>Contacto</li></a>
            <a href="#">
              <li class="categoria">
                Categorias
                <ul>
                  <li>Auto1</li>
                  <li>Auto2</li>
                  <li>Auto3</li>
                </ul>
              </li>
            </a>
          </ul>
        </nav>
      </header>
    
</body>
</html>
