<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/style.css">
    
    <title>Document</title>
  </head>
  <body>
    <header>
      
      <div class="logo">
        <img src="./image/autospot.jfif" alt="logo" />
      </div>

      <div class="compra-venta"> 
        <input type="search" placeholder="Busca Tu Auto" />
        <ul>
          <a class="btn" href="#"><li>Iniciar Sesion</li></a>
          <a class="btn" href="#"><li>Comprar</li></a>
          <a class="btn" href="#"><li>Vender</li></a>
      </ul>
      </div>
    

      <nav class="navbar">
        <ul>
          <a href="#"><li>Autos</li></a>
          
          <a href="#"><li>Nosotros</li></a>
          <a href="#"><li>Contacto</li></a>
          <a href="#">
            <li class="categoria">
              Categorias
              <ul>
                <li>Auto1</li>
                <li>Auto2</li>
                <li>Auto3</li>
              </ul>
            </li>
          </a>
        </ul>
      </nav>
    </header>
    <!-- Banner-->
    <section id="hero">
    <h1>Ahorra hasta un %50 en <br>Auto Spot</h1>
    <button>+ Info</button>
    </section>
    <div class="max-conteiner">
      <div>
        <section class="menuPrincipal">
          <ul>   
            <li><h2>MENU</h2></li>
            
              <li><h3><a href="#">Modelo</a></h3></li>
              <li><h3><a href="#">Kilometros</a></h3></li>
              <li><h3><a href="#">Marca</a></h3></li>
              <li><h3><a href="#">Precio</a></h3></li>
              <li><h3><a href="#">Año</a></h3></li>
              <li><h3><a href="#">Combustible</a></h3></li>
              <li><h3><a href="#">Puertas</a></h3></li>
              <li><h3><a href="#">Carroceria</a></h3></li>
              <li><h3><a href="#">Color</a></h3></li>
              <li><h3><a href="#">Financiamiento</a></h3></li>
             
          </ul>
      </section>
                     
        
        
      </div>
      <div class="secciones">
    <section class="seccion1">
      <article>
        
          <h2>Peugeot 308</h2>
          <img src="https://i.postimg.cc/PfLckDPy/autoblanco.jpg" alt="detalleProducto" />
          <div class="opciones">
          <p>Precio</p>
          <button>Comprar</button>
          </div>
      </article>

      <article>
        <div>
          <h2>Volkswagen Golf</h2>
        <img src="https://i.postimg.cc/NLqm3SL3/autorojo.jpg" alt="detalleProducto" />
        <p>Precio</p>
        <button>Comprar</button>
        </div>
      </article>

        <article>
        <div><h2>Ford Ecosport 2.0</h2>
      <img src="https://i.postimg.cc/Y2JP2SFH/autonaranja.jpg" alt="detalleProducto" />
      <p>Precio</p>
      <button>Comprar</button>
    </div>  
    </article>
      <article>
      <div class="oferta">
       <h2>Mercedes Benz Urban</h2>
       <img src="https://i.postimg.cc/KvBH1y7g/autocolorcafe.jpg" alt="detalleproducto" />
       <p>Precio</p>
       <button>Consultar Precio</button>
      </div>
      </article>
    
    </section>
    <section class="seccion2">
      <article>
        <img src="https://i.postimg.cc/RVPxSmvQ/nofoto.jpg" alt="productoALaVenta" />
        <p>Producto a la venta</p>
        <button>Comprar</button>
      </article>
      <article>
        <img src="https://i.postimg.cc/RVPxSmvQ/nofoto.jpg" alt="productoALaVenta" />
        <p>Producto a la venta</p>
        <button>Comprar</button>
      </article>
      <article>
        <img src="https://i.postimg.cc/RVPxSmvQ/nofoto.jpg" alt="productoALaVenta" />
        <p>Producto a la venta</p>
        <button>Comprar</button>
      </article>
      <article>
        <img src="https://i.postimg.cc/RVPxSmvQ/nofoto.jpg" alt="Producto a la venta" />
        <p>Producto a la venta</p>
        <button>Comprar</button>
        </article>
    </section>
  </div>
</div>
  
  <footer class="footer">
    
    
    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <!--

        -->
        <div class="logo-element_footer">
          <img src="./image/autospot-footer.jpg" alt="logo" /> 
        </div>




        <h3 class="main-c">Web de AutoSpot</h3>
        <!--
          <p>FOOTER  AUTOSPOT </p>  

        -->
      
      </div>
      
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>
          
          <li>Av. Libertador 5500</li>
          
          <li>San Isidro</li>
          <li>Mvl: (+54) 11 1234 5678</li>
          <li>Tel: (+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
    <h5>Más Información</h5>
    <ul>
    <li><a href="./index.html">Inicio</a></li>
    <li><a href="./preguntas.html">Preguntas</a></li>
    <li><a href="./email@autospot.com.ar">Enviar email</a></li>
    <li><a href="./consultas.html">Consultas</a></li>
    <li><a href="contacto.html">Contactar</a></li>
    </ul>
    </div>
    <div class="rrss-element-footer element-footer">
      <h5>Redes Sociales</h5>
      <ul>
    <li>
    <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img src="./image/facebook.JPG" alt="icono redes sociales"></a>
  </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img src="./image/instagram.JPG" alt="icono redes sociales"></a>
  </li>
    <li>
    <a href="https://www.google.com.ar/chrome/"target="_blank" rel="nofollow noopener noreferer"><img src="./image/google.JPG"alt="icono redes sociales"></a>
    </li>
    <li>
      <a href="https://web.whatsapp.com/"target="_blank" rel="nofollow noopener noreferer"><img src="./image/whastapp.JPG"alt="icono redes sociales"></a>
      </li>
    </ul>
  </div>
    </div>
    <div class="footer-creds">
      <div class="copy-creds">
    <p>©2023 · Todos los derechos reservados CFP18.</p>
  </div>
  <div class="legal-creds">
    <ul>
      <li><a href="/politica-privacidad">Política de Privacidad</a></li>
      <li><a href="/politica-cookies">Política de Cookies</a></li>
      <li><a href="/aviso-legal">Aviso Legal</a></li>
    </ul>
  </div>
</div>

</footer>
</body>
</html>
