<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Document</title>
    <head>
      <style>
      table, th, td {
        border: 5px solid;
        color: rgb(13, 9, 144);
        background-color: rgb(141, 173, 221);
          }
          table {
             width: 100%;
             align-items:left;
              }
      body{
    background-color:rgb(74, 165, 183);
      }
      </style>
  </head>
  
  <body>
    <header>
      <div class="logo">
        <img src="/image/autospot.jfif" alt="logo" />
         <input type="text" placeholder="Busca Tu Auto">
      </div>
      
          
      
    </header>
    
    
   
    <h2>PREGUNTAS FRECUENTES</h2>
        
    <table>
      <tr>
        <th>Nro</th>
        <th>Pregunta</th>
        <th>Respuesta</th>
        
      </tr>
      <tr>
        <td>1</td>
        <td>¿Por qué comprar en AutoSpot? /td>
        <td>
          AutoSpot nació para que puedas comprar tu futuro auto de forma segura y garantizada
          brindando la mejor experiencia de compra, ofreciendo consultas personalidas,
          porque queremos que cada uno de nuestros clientes se sientan cómodos con nosotros.
        </td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>¿Cómo pueden garantizar la calidad de sus productos?</td>
        <td>Todos los autos que se muestran en la web pasaron por nuestro riguroso chequeo de 240 puntos,
          para asegurar la calidad de los mismos. Nuestros inspectores con profecionales conlarga experiencia en el mundo del
          automovil y conocen las particularidades de cada marca y modelo.
        </td>
        
      </tr>
      <tr>
        <td>3</td>
        <td>¿Puedo dejar mi auto como parte de pago? ¿Qué papeles nececitan?</td>
        <td>¡Claro que si! Si tu auto cumple con los requisitos, te ofrecemos un descuento en la compra de tu nuevo auto.
            Los papeles que vamos a necesitar son comprobantes de no poseer multas ni patentes pendientes, pedir un informe
            de dominio histórico emitido directamente por la Dirección Nacional de los Registros de la Propiedad del Automotor.
        </td>
        
      </tr>
      <tr>
        <td>4</td>
        <td>¿Todos los autos cuentan con financiamiento?</td>
        <td>Efectivamente, todos los autos cuentan con un financiamiento adecuado a cada cliente.</td>
        
      </tr>
      <tr>
        <td>5</td>
        <td>¿Ofrecen acesoramiento con el seguro?</td>
        <td>¡Por supuesto! ofreecemos las mejores condiciones para nuesros clientes
            mediante alianzas con varias instituciones y aseguradoras.
        </td>
        
      </tr>
      <tr>
        <td>6</td>
        <td>¿Cómo funciona su cobertura mecánica?</td>
        <td>Nosotros cubrimos gastos de reparación y repuestos en el motor, transmisión, tracción delantera, y tracción trasera,
          que son los gastos más significativos que pudiera presentar un vehículo, y por los que nos hacemos cargo en caso de surgir.
          Para que, aunque puedan surgir inconvenientes en la ruta, estés tranquilo que AutoSpot te tiene cubierto.
        </td>
        
      </tr>
      <tr>
        <td>7</td>
        <td>¿Qué clase de autos venden y compran?</td>
        <td>En AutoSpot solo compramos autos que estén en excelentes condiciones,
          y por ello todos deben pasar por un riguroso proceso de inspección y certificación de 240 puntos. 
          Compramos autos del año 2010 en adelante, con menos de 100.000 kilómetros, que no tengan o hayan tenido GNC ni prenda.</td>
        
      </tr>
      <tr>
        <td>8</td>
        <td>Si el chequeo detecta que son necesarias reparaciones en mi auto ¿me ayudan?</td>
        <td>Si tu auto necesita arreglos para cumplir los estándares de AutoSpot, nuestro inspector te presentará el informe correspondiente.
          Si estás de acuerdo, nosotros nos ocupamos de los arreglos para que puedas desentenderte del tema.
          Para poder garantizar la calidad, sólo trabajamos con talleres certificados por AutoSpot con los cuales tenemos los mejores acuerdos</td>
        
      </tr>
      <tr>
        <td>9</td>
        <td>¿Cómo funciona el chequeo? ¿Para qué se hace?</td>
        <td>Para vender un auto, debemos garantizar que el mismo se encuentra en buenas condiciones y que no va a generarle ningún dolor de cabeza a su futuro dueño.
          Para garantizar la mejor calidad, nuestros inspectores especializados hacen en 1 hora un chequeo de 240 puntos, cubriendo exteriores, interiores y motor.</td>
        
      </tr>
      <tr>
        <td>10</td>
        <td>¿Cómo se que estoy pagando un precio justo para mi auto? ¿El precio es negociable?</td>
        <td>Utilizamos herramientas digitales de análisis de oferta y demanda y nuestra inspección detallada para determinar un precio objetivo.
          Por eso el precio no es negociable.</td>
        
      </tr>
    </table>
  
    
  </body>
  
  <footer class="footer">
    

    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <div>
          <img src="./image/autospot.jfif" alt="logo" />
        </div> 
      <h3 class="main-c">Web de AutoSpot</h3>
      <p>FOOTER  AUTOSPOT </p>
      </div>
      
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>
          
          <li>Av. Libertador 5500</li>
          
          <li>San Isidro</li>
          <li>Mvl: (+54) 11 1234 5678</li>
          <li>Tel: (+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
    <h5>Más Información</h5>
    <ul>
    <li><a href="/index.html">Inicio</a></li>
    <li><a href="/preguntas.html">Preguntas</a></li>
    <li><a href="/email@autospot.com.ar">Enviar email</a></li>
    <li><a href="/consultas.html">Consultas</a></li>
    <li><a href="/contacto">Contactar</a></li>
    </ul>
    </div>
    <div class="rrss-element-footer element-footer">
    <h5>Redes Sociales</h5>
    <ul>
    <li>
    <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/facebook.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/instagram.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.google.com.ar/chrome/"target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/google.JPG"alt="icono redes sociales"></a>
    </li>
    <li>
      <a href="https://web.whatsapp.com/"target="_blank" rel="nofollow noopener noreferer"><img src="./public/image/whastapp.JPG"alt="icono redes sociales"></a>
      </li>
    </ul>
    </div>
    </div>
    <div class="footer-creds">
    <div class="copy-creds">
    <p>©2023 · Todos los derechos reservados CFP18.</p>
    </div>
    <div class="legal-creds">
    <ul>
    <li><a href="/politica-privacidad">Política de Privacidad</a></li>
    <li><a href="/politica-cookies">Política de Cookies</a></li>
    <li><a href="/aviso-legal">Aviso Legal</a></li>
    </ul>
    </div>
    </div>
    
  </footer>
</html>
