<div>
    <% for(let index=0; index < products.length; index++) { %>
      <!-- <a href="/detalle/ products[index].id "> -->
        <h2><%= products[index].nombre %></h2>
        <p class="opciones">
          <%= products[index].precio %>
          <%= products[index].enVenta %>
        </p>
    <% } %>
  
  </div>
