<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/Login.css">

</head>
<body>
    <div class="container">
      <h1>Register</h1>
      <form>
        <input type="text" placeholder="usuario">
        <input type="password" placeholder="contraseña">
        <input type="text" placeholder="descripcion">
        <input type="text" placeholder="isAdmin">

        <button type="submit">Registrarme</button>
      </form>
    </div>
  </body>
</html>